body {
  background-color: #f2f2f2;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
title {
  font-family: Arial, sans-serif;
}
h1 {
   font-size: 32px;
   font-weight: bold;
   margin-top: 20px;
   margin-bottom: 10px;
   text-transform: uppercase;
   color: #333;
}

  #heading {
    max-width: 750px;
    margin: 4rem auto;
    padding: .6rem;
  }

  #main-form {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  padding: 0% 20% 0% 20%;
  }

  #title {
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.2;
    padding: .6rem;
  }

  #description {
    text-align: center;
    padding: .2rem;
   font-size: 16px; 
   color: #333; 
   font-family: Arial;
  }

  #survey-form {
    background-color: #2222425d;
    padding: 3rem 2.5rem;
    border-radius: 7px;
  }

  input[type="submit"] { 
   background-color: #4CAF50;
   color: white; 
   border: none; 
   padding: 10px 20px;
   text-align: center; 
   text-decoration: none; 
   display: inline-block; 
   font-size: 16px; 
   margin: 4px 2px;
   cursor: pointer;
}
  #submit:hover {
    background: rgb(9, 168, 89);
  }

.form {
  width: 100%;
  padding: .7rem;
  border-radius: 6px;
  font-size: 1.0rem;
  border: none;
}
